./application/config/config.php
./application/config/database.php

application/logs/log-2022-01-24.php
application/logs/log-2022-01-24.php
application/logs/log-2022-01-28.php
application/logs/log-2022-01-29.php
application/logs/log-2022-01-28.php
application/logs/log-2022-01-24.php
application/logs/log-2022-01-28.php
system/cache/ci_session0m1qbco3lihs6c0hlvu8cbpk3cmo8udi
system/cache/ci_sessionetnlmvcmt4afrsp92sv4934lnms2fvga
system/cache/ci_sessiond2fbi78fr8kmveltm70t4ctkb1547snr
system/cache/ci_sessionaoc9d28h912o5766gtd7lkegr7662a94
system/cache/ci_session0u331iiu8dt2ueoi875r6at6o78iku32
