.top_header {
  background-image: url(../images/top.png);
    width: 888px;
    height: 103px;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

strong.red {
    color: red;
    font-weight: bold;
}
   	#snow {
	    position: fixed;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
		top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	}
	.flake {
	    position: absolute;
	}
*{
padding:0;
margin:0;
}
body {position:relative;font-family: lato;background: rgba(255, 226, 0, 0.28);background:#000;color: #002bab;}



.logo_samouran_yatra {
    background-image: url(../../images/trackv2-logo.png); 
    height: 65px;
    width: 312px;
    background-size: cover;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
   }
   
   
   
.template {
    width: 868px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.96);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(92, 92, 93);
    padding-bottom: 1px;
    margin-bottom: 26px;
    padding-top: 0px;
    position: relative;
    margin-top: 0;
}
.address_bar {
    float: right;
}

.icon_tour span {
    background-image: url(../images/hotel.png);
    background-size: 18px;
    padding: 12px;
    background-repeat: no-repeat;
    padding-top: 2px;
}
.icon_meal span {
    background-image: url(../images/cup.png);
    background-size: 18px;
    padding: 12px;
    background-repeat: no-repeat;
    padding-top: 2px;
}

div#inline-meal-plan {
    margin-top: 20px;
    text-align:right;
    overflow: hidden;
    margin-bottom: 10px;
}
span.meal {
    margin-left: 20px;
}
ul li {
    text-decoration: none;
    list-style-type: none;
    /* color: #3593f4; */
    border-bottom: 1px dotted rgba(255, 0, 0, 0.52);
    padding-bottom: 3px;
}
.greetings h3 {
    margin-bottom: 10px;
}

table.table-bordered tr,td,th {
    border: 1px solid rgba(185, 185, 185, 0.4);
    padding: 6px;
    color: black;
    /* font-weight: 800 !important; */
    vertical-align: text-bottom;
}

.greetings.well.well-sm h3 {
    margin-bottom: 10px;
}

tr.thead-inverse {
     background: rgb(0, 51, 103);
    
}
.well.well-sm h3 {
    text-transform: uppercase;
    color: rgb(0, 64, 130);
	margin-bottom: 10px;
	
}
h3.heading_sampuran {
    color: darkorange;
}
tr.thead-inverse td {
    width: 249px;
}

tr.thead-inverse td strong {
    /* color: #000000; */
}

strong {
    font-weight: normal;
}

table {
        width: 867px;
}
.well.well-sm {
    margin-top: 30px;
    margin-bottom: 0;
    /* background: red; */
}
table.table th {
     background: rgb(0, 51, 103);
     color: white;
     font-weight: 500 !important;
}

.itenerary_packages h3 {
    margin-bottom: 20px;
}
em {
    font-family: sans-serif;
}
hr {
    margin-top: 40px;
    color: #000000 !important;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted rgb(1, 36, 152);
    margin-bottom: 20px;
   }
   
   .greetings {
    padding-top: 15px;
}
.customer_info {
    padding-top: 20px;
}
.greetings p {
        font-size: 16px;
        /* font-weight: 300; */
}

/* span.tour_title_name {
    margin-left: 20px;
	color: #0c0a0a;

} */
.day_yellow {
    background: #FFD525;
    padding: 5px 15px;
    color: #000;
    border-radius: 5px;
    display: inline-block;
}

.day_yellow:after {
    content: "";
    position: absolute;
    border-left: 10px solid #FFD525;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-left: 14px;
    margin-top: 4px;
    /* right: 0; */
}
.trip {
    border: 1px solid rgba(185, 185, 185, 0.4);
    margin-bottom: 20px;
    padding: 5px;
    line-height: 24px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}
.trip h4 {
     
    margin-top: 10px;
    font-family: inherit;
    color: white;
    margin-bottom: 16px;
}
.trip p {
    color: black !important;
}
.trip strong {
    margin-right: 40px;
}
tr.thead-inverse td {
    color: #fff !important;
    font-weight: 700 !important;
}
ul.client_listing li {
    background-image: url(../images/bullet.png);
    background-size: 14px;
    background-repeat: no-repeat;
    padding-left: 20px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 4px;
    font-size: 13px;
    padding-top: 4px;
    background-position-y: center;
    list-style:none;
}
.head_off_section {
    padding-bottom: 30px;
}
.branch_section {
    width: 269px;
    display: inline-block;
    font: small-caption;
    outline: 1px solid;
    margin-top: 20px;
    margin-left: 4px;
    height: 194px;
    overflow: hidden;
    padding: 8px;
}
.branch_section p {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 100%;
    clear: both;
    /* padding-left: 21px; */
}
.well.well-sm h5 {
    margin-bottom: 14px;
}
.form-group.feedback {
    display: grid;
    justify-content: inherit;
    justify-items: inherit;
}

.form-group.feedback label {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 16px;
}

button.btn.green.uppercase.app_iti {
    margin-top: 15px;
    background: #0a4c97;
    text-shadow: none;
    width: 110px;
    box-shadow: none;
    color: white;
    height: 34px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
}
button.btn.green.uppercase.app_iti:hover {
    background: #ffd525;
    color: black;
    font-weight: 700;
	cursor: pointer;
}
.head_off_section span {
    color: #004082;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.head_off_section span {
    padding-right: 10px;
}
.branch_section h3 {
    font-size: 20px;
    background: #003367;
    color: white !important;
    padding-left: 3px;
    padding-bottom: 3px;
    text-align: center;
    border: 1px solid #045bb3;
}
.address {
    width: 45%;
    float: left;
}
.back_white {
    width: 908px;
    margin: 0 auto;
    background: rgb(0, 51, 103);
    margin-bottom: 0;
    padding-bottom: 5px;
    margin-top: 0;
    height: 140px;
}
.address_bar ul li {
    color: white;
    margin-right: 15px;
    list-style:none;
    font-weight:bold;
}
.branch_name {
    font-size: 20px;
    background: #003367;
    color: white !important;
    padding-left: 3px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 6px;
}
.branch_section p span {
    color: #003367;
    font-weight: 900;
    margin-right: 7px;
    display: inline-block;
    margin-bottom: 20px !important;
    float: left;
    /* clear: both; */
    /* margin-top: 0; */
    /* vertical-align: top; */
    margin-right: 16px;
    /* padding-left: 21px; */
}
textarea.form-control {
    border: 1px solid #429bff;
    height: 60px;
    width: 100%;
    padding: 10px;
}

.footer_curve_back {
    background-image: url(../images/footer.png);
    width: auto;
    height: 161px;
    background-size: cover;
}
.footer {
    position: relative;
    width: 908px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.96);
    margin-top: -26px;
	margin-bottom: 25px;
}

.footer p {
    position: absolute;
    bottom: 18px;
    left: 10px;
	color: white;
}



.header {
    background-image: url(http://belogical.biz/yatra_new/site/assets/images/top.png);
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-size: contain;
}

body.view_client_iti {
    color: #484848;
   
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body.view_client_iti .greetings {
    margin-top: 0;
    padding-bottom: 0;
}

.greetings p {
    font-size: 14px;
}

.greetings.well.well-sm h3 {
    background: #FFE200;
 
    padding: 5px;
}

h3 {
    background: #FFE200;
 
    padding: 5px;
    border: 1px solid #e8ce00;
    }

ul.client_listing li:nth-child(even) {
    background-color: #ececec;
}

ul li:nth-child(even) {
    background-color: #ececec;
}

.address_bar ul li:nth-child(even) {
    background-color: transparent;
}

table.table-bordered tr.thead-inverse td {
    font-size: 16px;
}

table.table-bordered tr td {
    font-size: 14px;
}

.itenerary_packages h3 {
    margin-bottom: 0 !important;
    margin-bottom: 1px !important;
}

div#inline-meal-plan span {
    background: #003367;
    color: #fff;
    display: inline-block;
    padding: 2px 9px;
    line-height: 150%;
    border-radius: 2px;
    border: 1px solid #0057af;
}

ul li {
    border-bottom: none;
}


ul li {
    background-size: 14px;
    background-repeat: no-repeat;
    padding-left: 27px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 2px;
    font-size: 13px;
    padding: 4px;
    background-position-y: center;
    list-style: disc;
    list-style-position: inside;
    color: #484848;
    font-weight: 400;
}

.hot_des_view{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
}
.hot_des_view > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
.hot_des_view > span:hover{
  opacity:0.7;
}
.hot_des_view > input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}

/*11/2/2017*/
.hot_destination_view span {
         background: #003367;
         padding: 4px 8px;
         color: #000;
         margin-left: 5px;
         border-radius: 2px;
         display: inline-block;
         font-size: 13px;
         color: #fff;
         line-height: 100%;
         margin-top: 5px;
}

.hot_destination_view span:after {
       /* content: ""; */
       position: absolute;
       border-left: 13px solid #ffd525;
       border-top: 12px solid transparent;
       border-bottom: 12px solid transparent;
       margin-left: 10px;
       margin-top: 0px;
       margin-bottom: 0;
       margin-bottom: 0;
}

.hot_destination_view {
    color: #003367;
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
}

.hot_destination_view .day_yellow {
    font-size: 14px;
    color: #02254a;
    font-weight: 600;
    padding: 0 8px 0 0;
    line-height: 100%;
    position: relative;
    display: block;
    float: left;
    margin-right: 13px;
    background: #ffe200;
    font-family: sans-serif;
}
.hot_destination_view .day_yellow:after{right: -9px;top: 2px;border-left: 10px solid #ffe200;}

.hot_destination_view .day_yellow .fa {
    margin-right: 6px;
    color: #fff;
    background: #003367;
    padding: 6px 10px;
    font-size: 18px;
    line-height: 90%;
    border-radius: 5px 0 0 5px;
}


.inclusion table tr td {
    width: 50%;
}


.meta {
    background: #003367;
    overflow:hidden;
    padding: 0 10px;
    font-weight: 600;
    line-height: 200%;
}

.meta .desc {
    color:white;
    text-align: center;
}
 

span.meal {
    float: right;
padding:0 !important;	
}

 
.desc .day {
    text-align: left;
    float: left;
    margin-right: 13px;
}
 

.meta .date {
    float: left;
}

.meta .date i, span.meal i {
    color: #003367;
    display: inline-block;
    background: #ffe200;
    padding-left: 3px;
    border: 1px solid #f7db00;
    height: 16px;
    padding-top: 2px;
    padding-right: 2px;
    margin: 4px 2px 2px 0;
    border-radius: 1px;
    margin-right: 5px;
    text-align: center;
}
.table-responsive.inclusion {
    width: 50%;
}
p.description {
    margin-bottom: 20px;
}
h2.tour_title_name {
    margin: 5px 0 10px;
    font-size: 19px;
}

